<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Texter"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity3"
            android:exported="false" />
        <activity
            android:name=".updatePassword"
            android:exported="false" />
        <activity
            android:name=".splashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sign_up_user"
            android:exported="false"
            android:theme="@style/sign_up" />
        <activity
            android:name=".profile"
            android:exported="false"
            android:theme="@style/sign_up" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false"
            android:theme="@style/sign_up" />
        <activity
            android:name=".forgot_password"
            android:exported="false" />
        <activity
            android:name=".deleteProfile"
            android:exported="false"
            android:theme="@style/sign_up" />
    </application>

</manifest>